In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')
new_df = df.sample(30000)

In [3]:
ques_df = new_df[['question1', 'question2']]
ques_df.head()

,question1,question2
359269,Why is it that the ISIS are targeting France f...,Why are Islamists targeting France so aggressi...
171020,"Why is passion fruit named ""passion fruit""?",Is a pumpkin a fruit or a vegetable? How do we...
264141,Which site is best for direct download PC game...,What's a good torrent site to download games f...
394018,What are some things new employees should know...,What are some things new employees should know...
108643,"What are the best places to visit in Wayanad, ...",What are the best places to visit in Kerala fo...

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2']) # We're making a list
cv = CountVectorizer(max_features=3000) # Making features of 3k words
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2) 
# In above line, after transforming, we get bag of words of every question

ValueError: np.nan is an invalid document, expected byte or unicode string.

In [ ]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index) 
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape
# We will get (30000, 6000) because there are 300 bag of words of q1_arr and 3000 bag of words of q2_arr

(30000, 6000)

In [ ]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
350522,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17338,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
399436,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80043,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72057,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350763,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197184,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
125819,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54218,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
373856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [ ]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
350522,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17338,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
399436,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80043,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
72057,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350763,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197184,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
125819,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
54218,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
373856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7406666666666667

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)